.jumbotron h1 {
  background-color: salmon;
  border: 3px solid black;
}

.nav span {
  background-color: yellowgreen;
}

.jumbotron a {
  background-color: blueviolet;
}

.blog-post:first-of-type {
  background-color: aquamarine;
}

.blog-post hr {
  background-color: red;
}

.nav span:nth-of-type(even) {
  color: white;
}

.blog-sidebar .mb-0 li {
  border: 1px solid green;
}

.blog-post:nth-of-type(2) .blog-post-meta a {
  color: red;
}

.blog-post:nth-of-type(3) ul li:nth-child(2) {
  border: 1px solid brown;
}

.float-right {
  border: 1px solid purple;
}

.blog-pagination a.disabled {
  color: blue;
}

.blog-footer a:nth-of-type(2) {
  border: 1px solid greenyellow;
}
